@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #14181c; 
  --foreground: #ffffff;
  --card-bg: #2c3440;   
  --accent-green: #00e054;
  --accent-orange: #ff8000;
  --text-muted: #99aabb;
}

body {
  background: var(--background);
  color: var(--foreground);
}