@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #14181c; /* Letterboxd Dark Background */
  --foreground: #ffffff;
  --card-bg: #2c3440;    /* Letterboxd Card/Header Color */
  --accent-green: #00e054; /* Letterboxd Green */
  --accent-orange: #ff8000; /* Letterboxd Orange */
  --text-muted: #99aabb;
}

body {
  background: var(--background);
  color: var(--foreground);
}